@model IEnumerable<CManager.Web.Models.ViewModels.CourseViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Course List</h1>

<p>
    <a asp-action="AddCourse">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TutorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @if (item.IsCreatedByCurrentUser)
                {
                    @Html.ActionLink("Details", "CourseDetails", new { courseId = item.CourseId });
                    <span> | </span>
                    @Html.ActionLink("Edit", "EditCourse", new { courseId = item.CourseId });
                    <span> | </span>
                    @Html.ActionLink("Delete", "DeleteCourse", new { courseId = item.CourseId });
                }
                else
                {
                    @Html.ActionLink("Details", "CourseDetails", new { courseId = item.CourseId });
                }

            </td>
        </tr>
            }
        }
    </tbody>
</table>
